*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: crimson;
}

.card{
    width:700px;
    background-color: pink;
    padding: 40px;
    margin:80px;
    font-family:sans-serif;
    line-height: 28px;
}

::-webkit-scrollbar{
    background-color: transparent;
    width: 20px;
}
::-webkit-scrollbar-thumb{
background: linear-gradient(90deg, rgba(164, 116, 81, 1.000) 0.000%, rgba(156, 152, 129, 1.000) 16.667%, rgba(115, 160, 157, 1.000) 33.333%, rgba(59, 137, 154, 1.000) 50.000%, rgba(9, 91, 121, 1.000) 66.667%, rgba(0, 40, 71, 1.000) 83.333%, rgba(0, 1, 22, 1.000) 100.000%);
    border-radius:100px;

}